@media screen and (max-width: 1470px) {
  .case {
    width: 950px; }
  .hidden-lg {
    display: block; }
  .hidden-md {
    display: none; } }

@media screen and (max-width: 992px) {
  .header {
    padding-top: 25px; }
    .header__content {
      padding-top: 140px; }
    .header__title {
      font-size: 52px;
      margin-top: 10px;
      margin-bottom: 10px; }
    .header__desc {
      font-size: 18px; }
  .portfolio {
    margin-top: -390px; }
  .desc {
    margin-top: 70px;
    margin-bottom: 100px; }
    .desc__title {
      font-size: 28px; }
      .desc__title:after {
        width: 60px;
        margin-top: 8px; }
    .desc__text {
      letter-spacing: 0; }
  .footer {
    padding-bottom: 40px; }
    .footer__socials a {
      opacity: 1; }
  .case {
    width: 750px; }
  .hidden-md {
    display: block; }
  .hidden-sm {
    display: none; } }

@media screen and (max-width: 767px) {
  .case {
    width: 100%; }
  .panel__nav {
    width: 140px; }
    .panel__nav li {
      width: 100%;
      margin-bottom: 9px; }
      .panel__nav li:last-of-type {
        margin-bottom: 0; }
  .header {
    background-image: url("../../img/header-mobile.png");
    background-position: 55% 0;
    background-size: 1500px auto; }
    .header__subtitle {
      font-size: 14px; }
      .header__subtitle:before, .header__subtitle:after {
        width: 40px;
        top: -2px; }
      .header__subtitle:before {
        margin-right: 20px; }
      .header__subtitle:after {
        margin-left: 20px; }
    .header__title {
      font-size: 30px; }
    .header__desc {
      font-size: 14px;
      letter-spacing: .56px; }
    .header__content {
      padding-top: 70px; }
  .portfolio {
    margin-top: -530px; }
    .portfolio__list {
      margin-left: 0;
      margin-right: 0;
      height: auto !important; }
    .portfolio__item {
      display: block;
      float: none;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      position: static !important; }
      .portfolio__item img {
        margin-left: auto;
        margin-right: auto; }
  .desc {
    margin-top: 40px;
    margin-bottom: 50px; }
    .desc__title {
      font-size: 24px; }
    .desc__text {
      line-height: 20px; }
  .footer {
    padding-bottom: 25px; }
    .footer .case {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .footer__socials {
      margin-right: auto;
      margin-top: 13px;
      margin-bottom: 15px; }
  .hidden-sm {
    display: block; }
  .hidden-xs {
    display: none; } }
